<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>


  <div class="container">
    <form action="/action_page.php">
      <div class="row">
        <h2 style="text-align:center">Login or sighnup with Social Media</h2>


        <div class="col">
          <a href="/users/auth/facebook" class="fb btn" method="get">
            <i class="fa fa-facebook fa-fw"></i> Login or sighnup with Facebook
          </a>
          <a href="p" class="twitter btn">
            <i class="fa fa-twitter fa-fw"></i> Login or sighnup with Twitter
          </a>
          <a href="/auth/google" class="google btn">
            <i class="fa fa-google fa-fw"></i> Login or sighnup with Google+
          </a>
        </div>

        <div class="col">
          <div class="hide-md-lg">
            <p>Or sign in manually:</p>
          </div>

          <input type="text" name="username" placeholder="Username" required>
          <input type="password" name="password" placeholder="Password" required>
          <input type="submit" value="Login">
        </div>

      </div>
    </form>
  </div>

  <div class="bottom-container">
    <div class="row">
      <div class="col">
        <a href="#" style="color:white" class="btn">Sign up</a>
      </div>
      <div class="col">
        <a href="#" style="color:white" class="btn">Forgot password?</a>
      </div>
    </div>
  </div>
</body>

</html>



